<a href="https://colab.research.google.com/github/hyeongwon12/py/blob/main/Py_D_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# p62 표준입력
# input()함수는 키보드로 입력을 받을때 사용된다.

n = input()
print(f'당신이 입력한 수는 {n}입니다.')

12345
당신이 입력한 수는 12345입니다.

In [2]:
name = input('이름을 입력하세요>>>')
age = input('나이를입력하세요>>>')

print(f'입력된 이름은{name}이고 나이는 {age}입니다')

이름을 입력하세요>>>조형원
나이를입력하세요>>>27
입력된 이름은조형원이고 나이는 27입니다

In [5]:
#좋아하는 과일은?
#당신이 좋아하는 과일은 ... ..입니다.

fruit = input('좋아하는 과일은?')

print(f'당신이 좋아하는 과일은 {fruit} 입니다')

좋아하는 과일은?오렌지
당신이 좋아하는 과일은 오렌지 입니다

In [6]:
#특징) 형 변환    input을 거치면 무조건 문자다. (str)
n = input("정수를 입력하세요")
print(type(n))

정수를 입력하세요9
<class 'str'>

In [7]:
price = 5000
n = input('할부 개월 입력>>>')
print(f'매달내는 돈은 {price / n}원 입니다.')

할부 개월 입력>>>12

TypeError: ignored

In [8]:
price = 5000
n = int(input('할부 개월 입력>>>'))
print(f'매달내는 돈은 {price / n}원 입니다.')

할부 개월 입력>>>12
매달내는 돈은 416.6666666666667원 입니다.

In [11]:
# 사용자로부터 2개의 실수를 입력받아 합계를 구하는 프로그램을 구현하세요.

a = float(input('첫 번째 실수를 입력하세요'))
b = float(input('두 번째 실수를 입력하세요')) 

print(f'{a}와 {b}의 합은 {a+b}입니다.')

첫 번째 실수를 입력하세요1.23
두 번째 실수를 입력하세요2.34
1.23와2.34의 합은 3.57입니다.

In [14]:
# 사용자로부터 1에서 12사이의 월을 입력받아 해당 월이 며칠까지 있는지 출력하는 프로그램을 구현하세요

date = [31,28,31,30,31,30,31,31,30,31,30,31]
month = int(input('1~12사이의 월을입력하세요>>>'))

print(f'{month}월은 {date[month-1]}일까지 있습니다')

1~12사이의 월을입력하세요>>>1
1월은 31일까지 있습니다

In [25]:
# 파이썬으로 영어사전을 구현하고자 합니다. 다음과 같은 딕셔너리(dict)를 하나 생성하고 실행 예와 같이 동작하는 프로그램을 구현하세요.

english_dict ={
    'flower':'꽃',
    'fly':'날다',
    'floor':'바닥'
}
english = input('영어단어를 입력하세요>>>')
print(f'{english}:{english_dict[english]}')

영어단어를 입력하세요>>>flower
flower:꽃

In [26]:
# 수학여행을 어디로 갈지 결정하기 위해 학생들이 희망하는 모든 수학여행 장소를 조사하기로 했습니다. 
# 학생들이 원하는 장소를 입력받아 동일한 입력은 무시하고 모든 입력을 저장하려고 합니다.
# 학생을 3명으로 가정하고 실행 예와 같이 동작하는 프로그램을 구현하세요.
s = set()

place = input('희망하는 수학여행지를 입력하세요')
s.add(place)
place = input('희망하는 수학여행지를 입력하세요')
s.add(place)
place = input('희망하는 수학여행지를 입력하세요')
s.add(place)

print(f'조사된 수학여행지는 {s}입니다')

희망하는 수학여행지를 입력하세요제주
희망하는 수학여행지를 입력하세요제주
희망하는 수학여행지를 입력하세요민속촌
조사된 수학여행지는 {'민속촌', '제주'}입니다

In [29]:
# 연산자와 우선순위

a = 7
b = 2
print(f'{a} + {b}= {a+b}')
print(f'{a} - {b}= {a-b}')
print(f'{a} * {b}= {a*b}')
print(f'{a} ** {b}= {a**b}')
print(f'{a} / {b} = {a/b}')
print(f'{a} // {b} = {a//b}')
print(f'{a} % {b} = {a%b}')

7 + 2= 9
7 - 2= 5
7 * 2= 14
7 ** 2= 49
7 / 2 = 3.5
7 // 2 = 3
7 % 2 = 1

In [33]:
#  대입 연산자

a = 1
b = 2

a, b = 1, 2

print(f'a = {a}, b = {b}')

# 두 변수의 값 교환 (다른 언어)
t = a
a = b
b = t
print(f'a = {a}, b = {b}')

# 두 변수의 값 교환 (파이썬)
a, b = b, a
print(f'a = {a}, b = {b}')

a = 1, b = 2
a = 2, b = 1
a = 1, b = 2

In [36]:
# ★★★★★ 복합 대입 연산자 ★★★★★\

a = 1
print(a)
a = a + 1
print(a)
a += 1
print(a)

a -= 1 # a = a - 1
print(a)

1
2
3
2

In [39]:
a, b = 10, 20
print(f'a = {a}, b = {b}')

a, b = b, a   # 다른 언어에는 없는 파이썬 스러운 표현
print(f'a = {a}, b = {b}')

a = 10, b = 20
a = 20, b = 10

In [50]:
piggy_bank = 0

money = 10000
piggy_bank += money    #piggy_bank + money
print(f'저금통에 용돈 {piggy_bank}원을 넣었습니다.')
print(f'지금 저금통에는 {money}원이 있습니다.')

snack = 2000
piggy_bank -= snack
print(f'저금통에서 스낵 구입비 {snack}원을 뺏습니다.')
print(f'지금 저금통에는 {piggy_bank}원이 있습니다.')

저금통에 용돈 10000원을 넣었습니다.
지금 저금통에는 10000원이 있습니다.
저금통에서 스낵 구입비 2000원을 뺏습니다.
지금 저금통에는 8000원이 있습니다.

In [51]:
# p81 시퀀스 연산자

[1,3,5] + [2,4,6]

[1, 3, 5, 2, 4, 6]

In [52]:
'hello'+' '+'python'

'hello python'

In [53]:
[1,3,5]*2

[1, 3, 5, 1, 3, 5]

In [54]:
'★'*5

'★★★★★'

In [55]:
'-'*30

'------------------------------'

In [58]:
# 멤버쉽 연산자
# 어떤 값이 지정된 컬렉션에 (리스트, 문자열, 딕셔너리) 속해 있는지
# 여부를 판단하여 속해있으면 True 아니면 False로 반환

print(5 in [1,2,3,4,5])
6 in [1,2,3,4,5]

True

False

In [66]:
'n' not in 'apple'

False

In [70]:
# (3)삼항 연산자

# 참 if  >>  조건식 >>   else 거짓

1 if 1 > 2 else 2

2

In [75]:
# p85 #1

# 임의의 두 자리 정수(10~99)를 입력받아서 십의 자리와 일의 자리로 분리하여 출력하는 프로그램을 구현하세요.

no = int(input('10~99 사이의 정수를 입력하세요>>>'))

print(f'십의 자리 : {no//10}')
print(f'일의 자리 : {no%10}')

10~99 사이의 정수를 입력하세요>>>12
십의 자리 : 1
일의 자리 : 2

In [ ]:
# 임의의 두 자리 정수(10~99)를 입력받아서 십의 자리와 일의 자리로 분리하여 출력하는 프로그램을 구현하세요.

no = int(input('10~99 사이의 정수를 입력하세요>>>'))

print(f'십의 자리 : {no[0]}')
print(f'일의 자리 : {no[1]}')

In [90]:
# 1분은 60초이고, 1시간은 60분입니다. 따라서 1시간은 3600초입니다. 임의의 초를 입력받아 해당 초를 시,분,초로 변환하여 출력하는 프로그램을 구현하세요.

a = int(input('초를 입력하세요'))

print(f'변환 결과는 {a//3600}시간 {(a%3600)//60}분 {a%60}초입니다.')

초를 입력하세요12345
변환 결과는 3시간 25분 45초입니다.

In [89]:
a = int(input('4자리사원번호를 입력하세요>>>'))
a_last = a%10
is_am = a_last >= 5

print(f'근무시간은 {("오전"if is_am else "오후")}입니다.')

4자리사원번호를 입력하세요>>>1255
근무시간은 오전입니다.