<a href="https://colab.research.google.com/github/hyeongwon12/py/blob/main/py_D_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# p116 for문

for n in [1,2,3]:
  print(n)

1
2
3

In [7]:
n = 1
while n in [1,2,3]:
 print(n)
 n+=1

1
2
3

In [8]:
# 반복 가능 객체 (컬렉션)
# 시퀀스 자료형 - 문자열 리스트 튜플 range
# 비시퀀스 자료형 -셋 딕셔너리 (순서가 없다.)

for i in 'Hello':
  print(i)

H
e
l
l
o

In [9]:
for item in ['가위','바위','보']:
  print(item)

가위
바위
보

In [11]:
# for 문과 tuple
for season in ('Spring', 'Summer', 'Fall', 'Winter'): 
 print(season)

Spring
Summer
Fall
Winter

In [12]:
# for문 과 range()

for i in range(5):            # 0부터 5미만까지
 print(i)

0
1
2
3
4

In [13]:
print(list(range(2,10)))

[2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
for n in [1,2,3,4,5,6,7,8,9,10]:
  print(n)

1
2
3
4
5
6
7
8
9
10

In [15]:
# for문 과 set
for item in {'가위', '바위','보'}:
  print(item)

보
바위
가위

In [17]:
# for문 과 dict

person = {
    'name':'에밀리',
    'age':20
}
for item in person:
  print(item,person[item])

name 에밀리
age 20

In [26]:
# 129
n = int(input('임의의 양수를 입력하세요>>>'))
result = 0
for i in range(1,n+1):
  result+=i
print(sum)

임의의 양수를 입력하세요>>>4
15

In [30]:
ea = int(input('몇 개의 과일을 보관할까요?>>>'))
basket = []


for i in range(ea):
  fruit = input(f'{i+1}번째 과일을 입력하세요')
  basket.append(fruit)
print(f'입력받은 과일들은 {basket} 입니다.')

몇 개의 과일을 보관할까요?>>>3
1번째 과일을 입력하세요a
2번째 과일을 입력하세요
3번째 과일을 입력하세요c
입력받은 과일들은 ['a', '', 'c'] 입니다.

In [36]:
# p.134 break

n = 1
while n<=10:
  print(n)
  n+=1

1
2
3
4
5
6
7
8
9
10

In [37]:
n = 1
while True:
  print(n)
  if n == 10:
    break
  n+=1

1
2
3
4
5
6
7
8
9
10

In [38]:
# 138p Countinue

total = 0
for a in range(1,101):
  if a%3 == 0:
    continue
  total+=a
print(total)

3367

In [42]:
money = 10000

While Ture:
M = int(input('사용할 금액 입력>>>'))
 if money == 0:
 break
if M <=0:
 print(f'0이하의 금액은 사용할 수 없습니다.')

elif money-M<0:
 print(f'{money-M}원이 부족합니다.')

else:
 money-=M
print(money)

사용할 금액 입력>>>10000

SyntaxError: ignored

In [56]:
while True:
 score = int(input('이번 영화의 평점을 입력하세요>>>'))
 if score>5 or score<=0:
  print('평점은 1~5 사이만 입력할 수 있습니다.')
 else:
  print('평점 : ','★'*score)
  break

이번 영화의 평점을 입력하세요>>>1000
평점은 1~5 사이만 입력할 수 있습니다.
이번 영화의 평점을 입력하세요>>>40
평점은 1~5 사이만 입력할 수 있습니다.
이번 영화의 평점을 입력하세요>>>1
평점 :  ★

In [59]:
i = 0
for i in range(51123123):
 password = 'qwerty'
 n = input('비밀번호를 입력하세요')
  i+=1
 if n == password:
   print('비밀번호를 맞췄습니다.')
 if i = 5
 else n!= password:
   print('비밀번호가 틀렸습니다.')
   

   print('비밀번호 입력횟수를 초과했습니다.')

비밀번호를 입력하세요123
비밀번호가 틀렸습니다.
비밀번호를 입력하세요23132
비밀번호가 틀렸습니다.
비밀번호를 입력하세요132132
비밀번호가 틀렸습니다.
비밀번호를 입력하세요13213132
비밀번호가 틀렸습니다.
비밀번호를 입력하세요12313
비밀번호가 틀렸습니다.

In [76]:
for i in range (2,10):
  if i  % 2 == 0:
    continue
  for j in range (1,10):
    if j>i:
      break
    print(i*j)
  print('\n')

3
6
9


5
10
15
20
25


7
14
21
28
35
42
49


9
18
27
36
45
54
63
72
81

In [79]:
# p154
for item in enumerate(['가위','바위','보']):
  print(item)

(0, '가위')
(1, '바위')
(2, '보')

In [82]:
for idx, item in enumerate(['가위','바위','보']):
  print(idx+1,item)

1 가위
2 바위
3 보

In [83]:
#zip()
names = ['james','emily','amanda']
score = [60,70,80]
for student in zip(names,score):
  print(student)

('james', 60)
('emily', 70)
('amanda', 80)

In [84]:
names = ['james','emily','amanda']
score = [60,70,80]
for names,score in zip(names,score):
  print(names,score)

james 60
emily 70
amanda 80

In [ ]:
# 184p 사용자 함수

# def 함수명(변수):
#   본문
#   return 결과

In [ ]:
# 1 인수도 없고 반환 없는 함수  함수 이름()          
# 2 인수는 있고 반환 없는 함수  함수 이름(인수)
# 3 인수가 없고 반환 있는 함수  변수= 함수 이름
# 4 인수도 있고 반환 있는 함수  변수= 함수 이름(인수)

In [89]:
# 1 인수도 없고 반환 없는 함수  함수 이름()  
def welcome():
  print('Hello world')
welcome()

Hello world

In [92]:
# 2 인수는 있고 반환 없는 함수  함수 이름(인수)
def welcome(name):
  print('Hello',name)
welcome('as')

Hello as

In [104]:
# 3 인수가 없고 반환 있는 함수  변수= 함수 이름
def welcome():
  
   return 2
welcome()

2

In [108]:
# 4 인수도 있고 반환 있는 함수  변수= 함수 이름(인수)
def add(a,b):
  return a+b
add(45,12)

57

In [109]:
# p188

def introduce(name,age):
  print(f'내이름은 {name}이고, 나이는 {age}살 입니다.')
introduce('L',123)

내이름은 L이고, 나이는 123살 입니다.

In [110]:
# 가변 매개변수
def show(*args):
  for item in args:
    print(item)
show('python')
show('happy','birthday')

python
happy
birthday

In [119]:
def add2(a,b):
  return a+b
def add3(a,b,c):
  return a+b+c

def add(*args):
  sum = 0
  for item in args:
    sum+=item
  print(sum)
add(1,2,3,1,2,3,1,2,3,1,2,3)

24

In [128]:
del sum
def add(*args):
  print(sum(args))
add(123,123,123,123,123,123,123,123)

984

In [122]:
# 디폴트 매개변수
def greet(message='안녕하세요'):
  print(message)
greet()
greet('hi')

안녕하세요
hi