<a href="https://colab.research.google.com/github/hyeongwon12/py/blob/main/py_D_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#  39p 컬렉션 

# 모음 - 여러 값을 하나의 이름으로 묶어서 관리하는 자료형
#                         데이터를                   (인덱싱 슬라이싱) 
# 리스트 (가장중요) []  수정/삭제 가능   mutable          가능
# 튜플              ()  수정/삭제 불가능 immutable        가능
# 딕셔너리          {}  수정/삭제 가능   mutable       불가능, 순서가없다
# 셋                {}  수정/삭제 가능   mutable       불가능, 순서가없다

In [ ]:
# 리스트 - 가장 많이 사용하는 자료형이다. 자료형이 다른 데이터들도 함께 저장할수 있다.
li1 = [1,2,3,4]
print(li1)
li2 = [2,3.14,'hello']
print(li2)
print(li1 + li2)

[1, 2, 3, 4]
[2, 3.14, 'hello']
[1, 2, 3, 4, 2, 3.14, 'hello']

In [ ]:
li = [2,3.14,'hello']
li[-1]

'hello'

In [ ]:
li[1]

3.14

In [ ]:
# (start, stop, step)

li = [2,3.14,'hello']
li[0:3]

[2, 3.14, 'hello']

In [ ]:
scores = [50,40,30]

scores.append(80)  # append는 끝에서 하나씩 추가
scores

scores.insert(0,100)
print(type(scores))

<class 'list'>

In [ ]:
scores

[]

In [ ]:
scores.pop() # 끝에서부터 하나씩 삭제

IndexError: ignored

In [ ]:
scores

[]

In [ ]:
# 튜플 - 한마디로 표현하면... 수정할수 없는 리스트.
#        괄호 생략 가능

tu1 = (1,2,3)
print(tu1)
print(type(tu1))

tu2 = 2,3,4
print(tu2)
print(type(tu2))

tu3 = 2,3.14,'문자'
print(tu3)
print(type(tu3))

(1, 2, 3)
<class 'tuple'>
(2, 3, 4)
<class 'tuple'>
(2, 3.14, '문자')
<class 'tuple'>

In [1]:
tu = (10,20,30,40,50)
tu[0:3]

(10, 20, 30)

In [3]:
set = {1,2,2,3,3,3}     # 중복을 지우는데 많이활용
print(type(set))
print(set)

<class 'set'>
{1, 2, 3}

In [6]:
set.add(4)
set.remove(3)
print(set)

{1, 2, 4}

In [8]:
# 딕셔너리 : 키와 밸류 한쌍으로 구성된 자료형이다.

dict = {'a':'apple', 'b':'banana'}

print(dict)
print(type(dict))

{'a': 'apple', 'b': 'banana'}
<class 'dict'>

In [11]:
dict['w']='watermelon'
print(dict)
print(type(dict))

{'a': 'apple', 'b': 'banana', 'w': 'watermelon'}
<class 'dict'>

In [12]:
dict.pop('a')
print(dict)
print(type(ditc))

{'b': 'banana', 'w': 'watermelon'}
<class 'dict'>

In [14]:
me = [1,2,3]   #리스트
id(me)

139984457200096

In [17]:
me.append(4)
print(id(me))
print(me)

139984457200096
[1, 2, 3, 4, 4, 4]

In [18]:
me = 10       #정수 
print(id(me))

94190535207712

In [19]:
me += 1
print(id(me))

94190535207744

In [21]:
me = [1,2,3]

you = me

print(id(me))
print(id(you))

139984458414592
139984458414592

In [22]:
you.append(4)

print(id(me))
print(id(you))
print(me)
print(you)

139984458414592
139984458414592
[1, 2, 3, 4]
[1, 2, 3, 4]

In [37]:
# p49
# 2. 전체 차량번호에서 뒤에 숫자4자리만 출력하는 프로그램을 구현하세요. 전체 차량번호는 '서울2가1234',10가1234,'288가1234'와 같이 다르지만,모두 차량번호 4자리는 '1234입니다'.
a = '서울2가1234'
b = '10가1234'
c = '288가1234'
print(a,'의 차량번호 4자리는',a[-4:])
print(b,'의 차량번호 4자리는',b[-4:])
print(c,'의 차량번호 4자리는',c[-4:])

서울2가1234 의 차량번호 4자리는 1234
10가1234 의 차량번호 4자리는 1234
288가1234 의 차량번호 4자리는 1234

In [40]:
# 3. 문자열s에 'maple'이 저장되어 있습니다. 문자열s의 가운데 글자를 출력하는 프로그램을 구현하세요.

s = 'maple'
print(s,'의 가운데 글자는',s[2],'입니다')

maple 의 가운데 글자는 p 입니다

In [70]:
# 4. 리스트[10,20,30,40,50,60,70,80,90,100]의 3번째 요소부터 7번째 요소만 추출한 결과 리스트에서 2번째 요소를 출력하는 프로그램을 구현하세요.

li = [10,20,30,40,50,60,70,80,90,100]
print('3번째 요소부터 7번째 요소=',li[2:7])
print('3번째 요소부터 7번째 요소중 2번째 요소=',li[2:7][1])

3번째 요소부터 7번째 요소= [30, 40, 50, 60, 70]
3번째 요소부터 7번째 요소중 2번째 요소= 40

In [71]:
# 5. 어떤 중국음식점의 이번 주말 할인 메누는 금요일은 탕수육, 토요일은 유산슬. 일요일은 팔보채입니다. 요일별 할인 메뉴를 딕셔너리(dict) 구조로 저장하고 다음과 같이 출력하는 프로그램을 구현하세요.

dict = {'금요일':'탕수육','토요일':'유산슬','일요일':'팔보채'}
print('금요일:',dict['금요일'])
print('토요일:',dict['토요일'])
print('일요일:',dict['일요일'])

금요일: 탕수육
토요일: 유산슬
일요일: 팔보채

In [72]:
print('Hello \'World\'')
print('*\n**\n***\n')
print('이름\t연락처')
print('제시카 \t 02-123-4567')
print('마틴 \t 010-8765-1234')

Hello 'World'
*
**
***

이름	연락처
제시카 	 02-123-4567
마틴 	 010-8765-1234

In [73]:
print('재미있는','파이썬', sep='')
print('Python','Java','C', sep='.')
print()
print('영화 타이타닉')
print('평점', end = ':')
print('5점')

재미있는파이썬
Python.Java.C

영화 타이타닉
평점:5점