<a href="https://colab.research.google.com/github/hyeongwon12/py/blob/main/py_D_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# PythonDay4.ipynb

# page 90

# 조건문

# if - 특정 조건을 만족하는지 여부에따라 실행하는 코드가 달라져야 할때 사용된다.

a = 5
if a > 0:
  print('양수')
if True:
  print('양수')

양수
양수

In [ ]:
# if - else

a = -1
if a >= 0:
 print('양수')
else:
 print('음수')

음수

In [ ]:
age = int(input('몇 살입니까?>>>'))
if age >=20:
  print('성인')
else:
  print('미성년자')

몇 살입니까?>>>12
미성년자

In [ ]:
# if - elif

important = 90

if important >= 100:
  print('상')
else:
  if important >= 50:
    print('중')
  else:
    print('하')

#=========================

if important >= 100:
  print('상')
elif important >= 50:
    print('중')
else:
    print('하')

중

In [ ]:
socre = 40
if score >= 90:
  print('A')
elif score >= 80:
  print('B')
elif score >= 70:
  print('C')
elif score >= 60:
  print('D')
else:
  print('F')

A

In [ ]:
score = int(input('정수를 입력하세요>>>'))

if score >=90:
  print(f'학점은 A학점입니다.')
elif score >=80:
  print(f'학점은 B학점입니다.')
elif score >=70:
 print(f'학점은 C학점입니다.')
elif score >=60:
  print(f'학점은 D학점입니다.')
else:
  print(f'학점은 F학점입니다.')

정수를 입력하세요>>>15
학점은 F학점입니다.

In [ ]:
score = int(input('정수를 입력하세요>>>'))

if score >=90:
  result = 'A'
elif score >=80:
  result = 'B'
elif score >=70:
 result = 'C'
elif score >=60:
 result = 'D'
else:
 result = 'F'
print(f'점수는{score}이고, 학점은{result} 입니다.')

정수를 입력하세요>>>1231421
점수는1231421이고, 학점은A 입니다.

In [ ]:
no = int(input('정수를 입력하세요 >>>'))
T = no%3 
if T != 0: 
  print(f'{no}는 3의 배수가 아닙니다.')
else: print(f"{no}는3의 배수 입니다")

정수를 입력하세요 >>>45
45는3의 배수 입니다

In [ ]:
no = int(input('정수를 입력하세요 >>>'))
T = no%3 
if T ==0: 
  print(f'{no}는 3의 배수 입니다.')
else: print(f"{no}는3의 배수가 아닙니다")

In [ ]:
no1 = int(input('정수1입력'))
no2 = int(input('정수2입력'))
no3 = int(input('정수3입력'))

if no1 > no2 and no2 > no3:
  result = no1
elif no3 > no2 and no2 > no1:
  result = no3
else:
  result = no2
print(f'가장큰수는{result}입니다.')

정수1입력3
정수2입력3
정수3입력2
가장큰수는3입니다.

In [ ]:
no1 = int(input('정수1입력'))
no2 = int(input('정수2입력'))
no3 = int(input('정수3입력'))

print(f'가장큰수는{max(no1,no2,no3)}')

정수1입력3
정수2입력3
정수3입력2
가장큰수는3

In [ ]:
num = input('차량번호를 입력하세요 >>>')

n = int(num[-1])
if n % 2 == 0:
  result = '운행가능'
else:
  result = '운행불가'
print(f"'차량번호{num}'는 {result}입니다.")

차량번호를 입력하세요 >>>123rk1234
'차량번호123rk1234'는 운행가능입니다.

In [ ]:
# 반복문
# while = 반복횟수를 정확히 모를 때             해질때까지 운동장을 돌자
# for = 반복횟수를 정확히 알 때 (★★★★★)    운동장을 10바퀴 돌자

#while True:
#  print('hello python')

n = 1
while n <=10:
   print(f'{n}:hello world')
   n+=1

1:hello world
2:hello world
3:hello world
4:hello world
5:hello world
6:hello world
7:hello world
8:hello world
9:hello world
10:hello world

In [ ]:
n = 10
while n>=1:
  print(n)
  n-=1

10
9
8
7
6
5
4
3
2
1

In [ ]:
my_list = []

n = int(input('정수를 입력하세요(종료는 0입니다.>>>'))

while n != 0:
  my_list.append(n)
  n = int(input('정수를 입력하세요(종료는 0입니다.>>>'))
  
print(my_list)

정수를 입력하세요(종료는 0입니다.>>>4
정수를 입력하세요(종료는 0입니다.>>>5
정수를 입력하세요(종료는 0입니다.>>>6
정수를 입력하세요(종료는 0입니다.>>>2
정수를 입력하세요(종료는 0입니다.>>>0
[4, 5, 6, 2]

In [ ]:
day = 1
while day <= 5:
  hour = 1
  while hour <=3:
   print(day,'일차',hour ,'시간')
   hour += 1 
  day += 1

1 일차 1 시간
1 일차 2 시간
1 일차 3 시간
2 일차 1 시간
2 일차 2 시간
2 일차 3 시간
3 일차 1 시간
3 일차 2 시간
3 일차 3 시간
4 일차 1 시간
4 일차 2 시간
4 일차 3 시간
5 일차 1 시간
5 일차 2 시간
5 일차 3 시간

In [ ]:
dan = 2
while dan <= 9:
  n = 1
  while n <=9:
    print(f'{dan}*{n}={dan*n}')
    n+=1
  dan += 1

In [ ]:
n = int(input('정수를 입력하세요>>>'))
a = 1
if n<=0:
  print('잘못된 입력입니다.')
else:
  while a <= n:
    print(f'{a}번째 Hello')
    a+=1

In [ ]:

no = int(input('정수를 입력하세요 >>>'))
cnt = 1

if no <= 0:
  print('잘못된 입력입니다.')
else:
  while cnt <= no:
    print(f'{cnt}번째 Hello')
    cnt += 1

In [ ]:
n = 1
while n <= 100:
  if n%7==0:
   print(n)
  n+=1

7
14
21
28
35
42
49
56
63
70
77
84
91
98